<!-- MODEL LIST   List<ScarpeCommerce.Models.ScarpeModello>   (SERVE AD ITERARE MODEL DENTRO IL FOREACH, IL MIO MODELLO [ DENTRO LA LISTA])        -->
@model List<ScarpeCommerce.Models.ScarpeModello>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <div class="row">
        @foreach (var scarpa in Model)
        {
            <div class="col-3">
                <div class="card">
                    <div>
                        <img class="card-img-top w-100" src="@scarpa.Copertina" />
                        <!--salvare il nome del file e non l-interop file immagine -->
                    </div>
                      <h6>@scarpa.Nome</h6>
                      <p class="badge bg-black">@scarpa.Prezzo</p>  
                    <div>

                    </div>
                </div>

            </div>
        }


    </div>
</div>

